@media screen and (max-width: 349px) {
  .tiny-image,
  .small-image {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 350px) {
  .small-image {
    min-width: 25%;
    max-width: 50%;
    width: 200px;
  }

  .tiny-image {
    min-width: 15%;
    max-width: 35%;
    width: 100px;
  }

  .tiny-image.right,
  .small-image.right {
    float: right;
    margin-left: 1em;
  }

  .tiny-image.left,
  .small-image.left {
    float: left;
    margin-right: 1em;
  }
}

markdown-body > p {
  page-break-inside: avoid;
}

.markdown-body table {
  width: fit-content !important;
  max-width: 100% !important;
}

.gif {
  background-image: var(--screen);
  width: 100%;
  height: 30vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

/* Load print image but dont show it */
.gif::after {
  content: "";
  display: block;
  background-image: var(--print);
  width: 1px;
  height: 1px;
  position: fixed;
  top: 0;
  left: 0;
}

@media print {
  .gif {
    background-image: var(--print) !important;
  }

  .no-print {
    display: none;
    visibility: collapse;
  }

  h2 > a.anchorjs-link,
  h3 > a.anchorjs-link,
  h4 > a.anchorjs-link,
  h5 > a.anchorjs-link,
  h6 > a.anchorjs-link {
    display: none;
    visibility: collapse;
  }
}
